*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif; /* Tipo de letra */
    padding-top: 80px; /* Espaciado para el menu flotante */
}


.lista_menu {
    display: flex; /* Pone los elementos en fila */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #ffffff; /* Color fondo del menu */
    padding: 0 20px; /* Espacio interno del menu 0 arriba y abajo, 20 a los lados */
    position: fixed; /* Fija el menu en la parte superior */
    top: 0; /* Sin espacio arriba */
    left: 0; /* Sin espacio a la izquierda */
    width: 100%; /* Para que ocupe todo el ancho */
    z-index: 1000; /* Asegura que esté por encima de todos elementos */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombreado al rededor del menu para que no se vea plano */
}



.lista{
    margin-right: 100px; /* Espacio a la izquierda del menu */
}

.logo_menu{
    display: flex; /* Pone el logo en fila */
    margin-left: 60px; /* Espaciado a la izquierda del logo */
}

.logo_menu img {
    width: 80px; /* Ancho del logo */
    height: 80px;/* Alto del logo */
}

.lista_menu ul {
    display: flex; /* Pone los elementos de la lista uno al lado del otro */
    list-style: none; /* Elimina los puntos de la lista */
    gap: 30px; /* Espaciado entre los elementos de la lista */
}

.lista_menu li a{
    font-size: 18px; /* Tamaño de la letra */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #262927; /* Color de la letra del menu */
}

.banner{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
}


.img_service img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    top: 0; /* Sin espacio arriba */
    left: 0; /* Sin espacio a la izquierda */
    z-index: 1; /* Posiciona la imagen destras del contenido */
}


.img_service::before { /* Capa oscura sobre la imagen */
    content: ""; /* Necesario para crear un pseudo-elemento */
    position: absolute; /* Permite que el pseudo-elemento ocupe todo el banner */
    width: 100%; /* Ancho completo del banner */
    height: 100%; /*Alto completo del banener */
    background-color: rgba(0, 0, 0, 0.3); /* Color del sombreado */ 
    top: 0; /* Sin espacio arriba */
    left: 0; /* Sin espacio a la izquierda */
    z-index: 2; /* Posiciona la capa oscura sobre la imagen */
}


.text_service{
    position: relative;
    z-index: 5;
    text-align: center;
    color: #fff;
}

.text_service h1{
    font-size: 45px;
}

.text_service p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.boton_servicio{
    margin-top: 50px;
    padding: 15px;
}

.boton_servicio a{
    padding: 13px 30px; 
    text-decoration: none;;
    background-color: #fff;
    color: #262927;
    border-radius: 50px;
}

.descripcion_servicio{
    background-color: #f6f1ed;
}

.content_descripcion{
    width: 100%;
    
}

.img_descripcion img{
    width: 25rem;/* Centra el contenido verticalmente */
    height: 15.6rem;
    object-fit: cover;
}

.content_descripcion{
    width: 25rem;
    margin-right: 15rem;
}

.content_descripcion h3{
    margin-bottom: 1.5rem;
}
.content_descripcion p{
    margin-bottom: 1.5rem;
}

.cont1{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 31.25rem;
}

.img_descripcion{
    margin-bottom: 3rem;
}

.lista_servicio li{
    font-size: 1rem;
}
.lista_servicio h3{
    margin-bottom: 1rem;
}


.footer{
    width: 100%; /* Ancho del contenedor */
    height: 500px;
    padding: 40px;
    
}

.politicas_footer img{
    width: 150px;
    height: 150px;
    margin-left: 38px;
    margin-bottom: 15px;
}

.politicas_footer{
    justify-content: center;
    flex-direction: column;
}

.politicas_footer h2{
    text-align: center;
    margin-bottom: 40px;
}

.content_footer{
    display: flex;
    gap: 6rem;
    justify-content: space-around;
    align-items: center;
}

.datos{
    background-color: transparent;
    margin-bottom: 20px;
    padding: 20px;
    border: solid #262927;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7); 
}

.contactos_footer h5{
    margin-bottom: 50px;
}

.contactos_footer h2{
    margin-bottom: 30px;
}

.redes_sociales{
    display: flex;
    background-color: #262927;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 50px;
    gap: 2rem;
    align-items: center;
    align-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7); 
}

.redes_sociales p{
    color: #ffffff;
}

.horarios{
    background-color: #262927;
    padding: 30px;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7); 
}

.horarios p{
    color: #ffffff;
}
